/ Masthead
%header.masthead.bg-primary.text-center
  .container.d-flex.align-items-center.flex-column
    .row
      .col-12
        %h1.masthead-heading.mb-0.mt-4.text-white Find new music
        / Icon Divider
        .divider-custom.divider-light
          .divider-custom-line
          .divider-custom-line
          .divider-custom-line
    / .row
    /   .col-12
    /   / Masthead Subheading
    /   %h1.masthead-subheading.font-weight-light.mb-0.text-white by
    / %br

    / .row.justify-content-center 
    /   .col-12
    /     .card{:style => "background-color: black;"}
    /       %img.card-img-top{:href => "#section1", :src => @random_category.icons[0]["url"]}
    /       .card-body
    /         %h5.card-title.text-white 
    /           %a.nav-link.py-3.px-0.px-lg-3.rounded.text-white{:href => "#section1"} Category
      
    /   / .col-12.col-md-6.col-lg-3.col-xl-3.mt-3
    /   /   .card{:style => "background-color: black;"}
    /   /     %img.card-img-top{:alt => "...", :src => @random_track.album.images[0]["url"]}
    /   /     .card-body
    /   /       %h5.card-title.text-white
    /   /         %a.nav-link.py-3.px-0.px-lg-3.rounded.text-white{:href => ""} Artist (WIP)
    / %br

    
/ Portfolio Section
%section#section1.page-section.portfolio{:style => "background-color: #1F3662"}
  .container.d-flex.align-items-center.flex-column.text-center
    / About Section Heading
    = render "static_page/display_categories"
    
    
/ / About Section
/ %section#section2.page-section.bg-primary.text-white.mb-0
/   .container
/     / About Section Heading
/     / = render "static_page/display_categories"
    
/ / Contact Section
/ %section#section3.page-section{:style => "background-color: #1F3662"}
/   .container
/     / Contact Section Heading
/     %h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0.text-white Section 3
/     / Icon Divider
    

/ Portfolio Modals
/ Portfolio Modal 1
/ #portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "portfolioModal1", :tabindex => "-1"}
/   .modal-dialog.modal-xl
/     .modal-content
/       .modal-header.border-0
/         %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
/       .modal-body.text-center.pb-5
/         .container
/           .row.justify-content-center
/             .col-lg-8
/               / Portfolio Modal - Title
/               %h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Log Cabin
/               / Icon Divider
/               .divider-custom
/                 .divider-custom-line
/                 .divider-custom-icon
/                   %i.fas.fa-star
/                 .divider-custom-line
/               / Portfolio Modal - Image
/               %img.img-fluid.rounded.mb-5{:alt => "...", :src => "assets/cabin.png"}/
/               / Portfolio Modal - Text
/               %p.mb-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
/               %button.btn.btn-primary{"data-bs-dismiss" => "modal"}
/                 %i.fas.fa-xmark.fa-fw
/                 Close Window
/ Portfolio Modal 2
/ #portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "portfolioModal2", :tabindex => "-1"}
/   .modal-dialog.modal-xl
/     .modal-content
/       .modal-header.border-0
/         %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
/       .modal-body.text-center.pb-5
/         .container
/           .row.justify-content-center
/             .col-lg-8
/               / Portfolio Modal - Title
/               %h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Tasty Cake
/               / Icon Divider
/               .divider-custom
/                 .divider-custom-line
/                 .divider-custom-icon
/                   %i.fas.fa-star
/                 .divider-custom-line
/               / Portfolio Modal - Image
/               %img.img-fluid.rounded.mb-5{:alt => "...", :src => "assets/cake.png"}/
/               / Portfolio Modal - Text
/               %p.mb-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
/               %button.btn.btn-primary{"data-bs-dismiss" => "modal"}
/                 %i.fas.fa-xmark.fa-fw
/                 Close Window
/ / Portfolio Modal 3
/ #portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "portfolioModal3", :tabindex => "-1"}
/   .modal-dialog.modal-xl
/     .modal-content
/       .modal-header.border-0
/         %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
/       .modal-body.text-center.pb-5
/         .container
/           .row.justify-content-center
/             .col-lg-8
/               / Portfolio Modal - Title
/               %h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Circus Tent
/               / Icon Divider
/               .divider-custom
/                 .divider-custom-line
/                 .divider-custom-icon
/                   %i.fas.fa-star
/                 .divider-custom-line
/               / Portfolio Modal - Image
/               %img.img-fluid.rounded.mb-5{:alt => "...", :src => "assets/circus.png"}/
/               / Portfolio Modal - Text
/               %p.mb-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
/               %button.btn.btn-primary{"data-bs-dismiss" => "modal"}
/                 %i.fas.fa-xmark.fa-fw
/                 Close Window
/ / Portfolio Modal 4
/ #portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "portfolioModal4", :tabindex => "-1"}
/   .modal-dialog.modal-xl
/     .modal-content
/       .modal-header.border-0
/         %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
/       .modal-body.text-center.pb-5
/         .container
/           .row.justify-content-center
/             .col-lg-8
/               / Portfolio Modal - Title
/               %h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Controller
/               / Icon Divider
/               .divider-custom
/                 .divider-custom-line
/                 .divider-custom-icon
/                   %i.fas.fa-star
/                 .divider-custom-line
/               / Portfolio Modal - Image
/               %img.img-fluid.rounded.mb-5{:alt => "...", :src => "assets/game.png"}/
/               / Portfolio Modal - Text
/               %p.mb-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
/               %button.btn.btn-primary{"data-bs-dismiss" => "modal"}
/                 %i.fas.fa-xmark.fa-fw
/                 Close Window
/ / Portfolio Modal 5
/ #portfolioModal5.portfolio-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "portfolioModal5", :tabindex => "-1"}
/   .modal-dialog.modal-xl
/     .modal-content
/       .modal-header.border-0
/         %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
/       .modal-body.text-center.pb-5
/         .container
/           .row.justify-content-center
/             .col-lg-8
/               / Portfolio Modal - Title
/               %h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Locked Safe
/               / Icon Divider
/               .divider-custom
/                 .divider-custom-line
/                 .divider-custom-icon
/                   %i.fas.fa-star
/                 .divider-custom-line
/               / Portfolio Modal - Image
/               %img.img-fluid.rounded.mb-5{:alt => "...", :src => "assets/safe.png"}/
/               / Portfolio Modal - Text
/               %p.mb-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
/               %button.btn.btn-primary{"data-bs-dismiss" => "modal"}
/                 %i.fas.fa-xmark.fa-fw
/                 Close Window
/ / Portfolio Modal 6
/ #portfolioModal6.portfolio-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "portfolioModal6", :tabindex => "-1"}
/   .modal-dialog.modal-xl
/     .modal-content
/       .modal-header.border-0
/         %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
/       .modal-body.text-center.pb-5
/         .container
/           .row.justify-content-center
/             .col-lg-8
/               / Portfolio Modal - Title
/               %h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Submarine
/               / Icon Divider
/               .divider-custom
/                 .divider-custom-line
/                 .divider-custom-icon
/                   %i.fas.fa-star
/                 .divider-custom-line
/               / Portfolio Modal - Image
/               %img.img-fluid.rounded.mb-5{:alt => "...", :src => "assets/submarine.png"}/
/               / Portfolio Modal - Text
/               %p.mb-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
/               %button.btn.btn-primary{"data-bs-dismiss" => "modal"}
/                 %i.fas.fa-xmark.fa-fw
/                 Close Window
